body{
  background-color: #16B6DF; //First color
}
  body .mdl-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }


a {
  color: #16B6DF;
}

p  a.name  {
   text-decoration: none;

 }

 p  a.name:hover  {
    text-decoration: none;
    color: #25b;
  }
